.planner-forms-title{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.13em;
    color: #002c51;
  }
  
  .planner-form-header-title{
    font-family: 'Montserrat';
    letter-spacing: 0.11em;
    font-size: 16px;
    font-weight: 600;
    color: #216CA6;
    text-transform: capitalize;
  }
  
  .planner-form-region-text{
    font-size: 15px;
  }
  
  .planner-form-market-text{
      font-weight: 900;
  }
  
  .planner-form-symbol-text{
      font-weight: 500;
      letter-spacing: 0.13em;
      color: black;
      font-size: 15px;
  }
  
  .planner-form-build-text{
    font-weight: 900;
  }
  
  .planner-form-button{
    font-size: 14px;
    color: #002c51;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    background-color: #002c51;
  }
  
  
  .planner-title-box{
    margin-top: 9px;
  }
  
  .planner-name-title{
    font-family: 'Montserrat';
    letter-spacing: 0.09em;
    color: #216ca5;
  }
  
  .planner-badge{
    font-size: 13px;
  }

  .planner-view-badge{
    font-size: 21px;
    float: left;
  }
  
  .planner-heading{
    text-transform: uppercase;
    font-weight: 700 !important;
    color: #002C51 !important;
  }

  .planner-build-rank-pending{
    font-weight: 900;
    color: #216ca5;
  }

  .planner-build-rank-lite{
    font-weight: 900;
    color: #00008b;
  }

  .planner-build-rank-medium{
    font-weight: 900;
    color: #b59410;
  }

.planner-build-rank-large{
    font-weight: 900;
    color: #850101;
  }

.planner-viewer-build-rank{
  text-align: left;
  font-size: 33px;
}
  
.planner-viewer-title{
    font-size: 24px;
    font-weight: 900 !important;
    font-family: 'Montserrat';
    letter-spacing: 0.16em;
    color: #002C51;
  }

.planner-viewer-subtitle{
    font-weight: 400;
    text-align: left;
    margin-bottom: -3px;
    color: #216ca5;
  }

.planner-viewer-prime-contact{
    font-size: 26px;
    text-align: left;
    letter-spacing: 0.13em;
    font-weight: 300;
}
  

.planner-viewer-heading{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    color: #216cb5;
    font-family: 'Montserrat';
    text-align: left;
    padding-top: 3px;
  }

.planner-viewer-update-on{
  font-size: 11px;
  text-align: left;
  margin-top: -13px;
  letter-spacing: 0.13em;
  font-weight: 400;
}

.planner-viewer-region{
  padding-top: 13px;
  font-size: 13px;
  text-align: left;
  font-weight: 500;
  color: #216cb5;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.planner-viewer-mkt{
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  margin-top: -13px;
}

.planner-viewer-dual-listed{
    font-size: 13px;
    text-align: left;
    font-weight: 500;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding-top: 33px;
    color: #216cb5;

}

.planner-viewer-dual-mkt{
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  margin-top: -13px;
}

.planner-viewer-export-btn{
    position: fixed;
    right: 33px;
    float: right;
    background-color: #002c51;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 0.13em;
}


.planner-viewer-synopsis{
    color: white;
    font-size: 26px;
    text-transform: capitalize;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    font-weight: 200;
    padding-top: 13px;
    padding-bottom: 13px;
}

.planner-table-txt{
  text-align: left;
}

  