@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.form-records-box{
    text-align: start;
    padding-top: 13px;
    padding-bottom: 33px;
}

.form-records-found{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
}

.form-records-found-count{
    font-family: 'Karla';
    font-weight: bolder;
    font-size: 50px;
}

#records-found-txt{
    color: #002C51;
    text-decoration: none;
}

#records-found-int{
    color: #002C51;
    text-decoration: none;
}
