.page-title{
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 0.13em;
    color: #FFFFFF;
    font-size: 26px;
    text-align: end;
    text-transform: uppercase;
    margin-right: 33px;
    padding-top: 0px;
    padding-bottom: 0px;

}
.title-box{
    padding-top: 196px;
    margin: 0px;
    width: 100%;
    background-color: #002c51;
  }

  hr.solid {
    box-shadow: rgb(0 0 0 / 50%) 0px -6px 6px -6px;
  }