.core-input-label{
    text-align: start;
    
}

.core-input-icon{
    color: black;
}

.core-input-label-text{
    color: black;
    font-family: 'Montserrat' !important;
    font-weight: 300 !important;
    font-size: 1.0rem;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.core-input-label-error{
    margin-top: -13px;
    margin-bottom: 13px;
    font-family: 'Montserrat';
    color: #800020;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.13em;
}

.core-input-section-ribbon{
    background-color: #216cb5;
    border-radius: 0px;
    margin-top: 33px;
    margin-bottom: 33px;
}

.core-input-section-text{
    color: #ffffff;
    font-family: 'Montserrat' !important;
    font-weight: 400;
    letter-spacing: 0.33em;
    margin-left: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
}

.checkbox-input-border{
    margin-top: 6px;
}

.form-check-input{
    display: inline !important;
}

.form-check-label{
    display: inline !important;
}

.switch-input-label{
    justify-content: start;
    display: grid !important;
}